/* The Overall Container for the finished display page */
.finished-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

/* Styling for the text */
.compliment-text {
  font-weight: 900;
  font-size: 1.5em;
}

/* Styling for the button to navigate to homescreen or cardscreen */
.button-for-home {
  width: 75%;
  height: 10%;
  font-size: 1.5em;
  font-weight: 900;
}
