/* The Overarching wrapper of the cards */
.card-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* The overall container for the cards */
.card-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  height: 90%;
  position: relative;
  opacity: 1;
  box-shadow: rgba(0, 0, 0,0.1) 0px 4px 6px;
}

/* The content styling for the cards */
.card-content {
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

/* QA Card has a flipping time of 0.6s */
.qa-card-content {
  transition: 0.5s;
}

/* MCQ Card has a flipping time of 0.3s to look better */
.mcq-card-content {
  transition: 0.5s;
}

/* Texts for both question and answer */
.card-text {
  backface-visibility: hidden;
  font-size: 5.2vw;
  font-weight: 500;
  margin: 0 1.5rem;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  max-width: 95%;
}

/* Styling for some tags like p, hr, pre, code */
.card-text p {
  margin: 0;
}

.card-text hr {
  height: 1px;
  border: 1px solid black;
  width: 100%;
}

.card-text pre {
  background-color: #f6f6f6;
}

.card-text code {
  background: #f6f6f6;
}

/* Front Question Text with 0 degree */

.front-text {
  transform: rotateY(0deg);
}

/* All Back texts with 180 degrees and translateZ forward (for ios) */
.back-text {
  transform: rotateY(180deg) translateZ(3px);
}

/* QA Card Question on the back page taking 50% */
.qa-question-back {
  height: 50%;
  top: 0;
  border-bottom: 1px dashed crimson;
}

/* QA Card Answer on the back page taking bottom 50% */
.qa-answer {
  height: 50%;
  bottom: 0;
}

/* 
MCQ Card question always takes 60% */
.mcq-question {
  position: absolute;
  height: 50%;
  top: 0;
}

/* Css for the number on the top right cornor of the card */
.onemore-number {
  position: absolute;
  width: 5%;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 0;
  color: #0056d2;
  top: 1%;
  text-align: center;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 5px;
  background-color: snow;
}

/* The position for the number indicator in front and in back */
.front-number {
  left: 2%;
}

.back-number {
  right: 2%;
}
