/* Linear Gradient Button Used for Log In / Log Out / Try Again / Report Issue */
.grad-button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
  font-size: 1.6em;
  font-weight: 900;
}

.grad-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.try-again-button {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  width: 45%;
  height: 100%;
  margin-left: 0.5em;
}

.report-issue-button {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  display: flex;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  text-decoration: none;
}

/* Button Styling shared for both login button and log out button */
.log-button {
  position: absolute;
  color: darkgray;
  bottom: 7%;
  width: 70%;
  height: 10%;
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
}

.log-button:hover {
  color: gray;
}

.login-button {
  opacity: 0;
  animation: displayButton 1100ms ease-out forwards;
  animation-delay: 1350ms;
}

.logout-button {
  left: 12.5%;
}

/* Animation for the login button to appear */
@keyframes displayButton {
  10% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
