.qacard-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* entire container, keeps perspective */
.qacard-container {
  perspective: 1000px;
  display: flex;
  position: relative;
  height: 100%;
  opacity: 1;
  box-shadow: rgba(123, 135, 185) 0px 4px 6px;
}

/* flip speed goes here */
.qacard-content {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* hide back of pane during swap */
.qaquestion-text,
.qaanswer-text {
  backface-visibility: hidden;
  font-size: 2em;
  font-weight: 900;
  margin: 0 0.75rem;
  position: absolute;
  text-align: center;
}

/* front pane, placed above back */
.qaquestion-text {
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.qaanswer-text {
  height: 50%;
  bottom: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  transform: rotateY(180deg) translateZ(3px);
}

.qabackquestion-text {
  backface-visibility: hidden;
  font-size: 2em;
  font-weight: 900;
  margin: 0 0.75rem;
  position: absolute;
  text-align: center;
  height: 50%;
  top: 0;
  border-bottom: 1px dashed crimson;
  justify-content: center;
  display: flex;
  align-items: center;
  transform: rotateY(180deg) translateZ(3px);
}
