.higher-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 1.8rem;
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.action-button {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  background: #f4f4f4;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 1;
}
.action-button:disabled {
  opacity: 0.3;
}
