/* The Main styling for the tab cards */
.tab-card {
  padding: 0;
  position: absolute;
  left: 45%;
  top: 0.2rem;
  float: left;
  width: 1.8rem;
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease, left 0.3s ease, rotate 0.3s ease;
  margin-top: 0.25rem;
}

/* Styling the number on the cards */
.tab-card p {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.activate {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* The first one will be te rightmost card */
.first-activate {
  left: 46.5%;
  top: 0.11rem;
  rotate: 10deg;
}

/* The second one will be the middle card */
.second-activate {
  left: 45%;
  top: 0.05rem;
  rotate: 0%;
}

/* The third on will be the leftmost card */
.third-activate {
  left: 43.5%;
  top: 0.03rem;
  rotate: -10deg;
}
