.log-button {
  position: absolute;
  --border-radius: 3px;
  bottom: 10%;
  width: 70%;
  height: 5%;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
  --background: ivory;
  --background-activated: aquamarine;
  --background-focused: aqua;
  --background-hover: aliceblue;
}

          
.log-button {
  position: absolute;
  bottom: 10%;
  width: 70%;
  height: 10%;
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: darkgray;
  font-size: 1.6em;
  font-weight: 900;            
  box-shadow: 0 0 15px #eee;
  border-radius: 10px;
  display: block;
}

.log-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



.login-button {
  opacity: 0;
  animation: displayButton 1100ms ease-out forwards;
  animation-delay: 1350ms;
}

.logout-button {
  left: 12.5%;
}

@keyframes displayButton {
  10% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
