.mcqcard-wrapper {
  position: absolute;
  height: 90%;
  width: 100%;
}

.mcqcard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.mcqcard-content {
  justify-content: center;
  height: 60%;
  align-items: center;
  display: flex;
}

.mcqquestion-text {
  font-size: 2.5em;
  font-weight: 900;
  position: absolute;
  text-align: center;
  margin: 0 0.1rem;
}
