.mcqcard-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mcqcard-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  opacity: 1;
  box-shadow: rgba(123, 135, 185) 0px 4px 6px;
}

.mcqcard-content {
  transition: 0.3s;
  transform-style: preserve-3d;
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
}

.mcqquestion-text {
  backface-visibility:hidden;
  font-size: 2em;
  font-weight: 900;
  position: absolute;
  text-align: center;
  margin: 0 0.75rem;
  height: 60%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

.mcqquestion-text-back {
  backface-visibility: hidden;
  font-size: 2em;
  font-weight: 900;
  position: absolute;
  text-align: center;
  margin: 0 0.75rem;
  height: 60%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) translateZ(3px);
}
