/* Text Styling for Individual Choice */
.choice-text {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  white-space: pre-wrap;
}

/* Styling for the button before any clicking */
.choice-button {
  flex-grow: 1;
  white-space: normal;
  --background: #b2afbc;
  --background-activated: #ad9b9a;
}

/* Styling for the correct button after clicking */
.correct-button {
  --background: darkgreen;
  --background-activated: darkgreen;
}

/* Styling for the incorrect button after clicking */
.incorrect-button {
  --background: crimson;
  --background-activated: crimson;
}
