.login-button {
  position: absolute;
  --border-radius: 3px;
  bottom: 15%;
  width: 70%;
  height: 5%;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
  opacity: 0;
  --background: ivory;
  --background-activated: aquamarine;
  --background-focused: aqua;
  --background-hover: aliceblue;
  animation: displayButton 1100ms ease-out forwards;
  animation-delay: 1350ms;
}

@keyframes displayButton {
  10%{
    opacity: 0.1;
  }
  30%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}