/* Text on the Toolbar header */
.title {
  font-weight: 900;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.settings-icon {
  position: absolute;
  right: 0;
  align-self: center;
  margin-right: 1rem;
  top: 25%;
  font-size: 1.5rem;
}
