.title {
  font-size: 1.2em;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-stacker {
  height: 100%;
}

.card-stacker-animate {
  height: 100%;
  animation: shake 0.55s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

.page-content {
  background: rgba(215, 224, 255, 1);
}

.bar {
  position: relative;
  height: 3%;
  border-radius: 3em;
  margin-top: 1em;
  width: 70%;
  margin-left: 15%;
  --progress-background: mediumseagreen;
  --buffer-background: snow;
}

.home-button {
  position: absolute;
  height: 10%;
  width: 21%;
  left: -1.2em;
  bottom: -1.2em;
  color: salmon;
  --border-radius: 999px;
  --background-activated: bisque;
  --background: honeydew;
}
