/* Background color for the whole page */
.page-content {
  background: #f1f2eb;
}

/* Styling for the Toolbar counter */
.stats-title {
  font-size: 1.2em;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  text-align: center;
}

/* Styling for the stack of card without animation */
.card-stacker {
  height: 100%;
}

/* Styling for the stack of cards to animate */
.card-stacker-animate {
  animation: shake 0.55s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

/* KeyFrames for the stack of cards shaking */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

#cardscreen-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-icon {
  position: absolute;
  align-self: center;
  margin-left: 1rem;
  top: 28%;
  left: 0;
  font-size: 1.8rem;
}
