/* Background Color */
.home-content {
  background: #F1F2EB;
}

/* Overall Container of the home page */
.home-loaded-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Hey UserName */
.user-name{
  text-align: center;
  font-weight: bold;
  color: rgb(88, 19, 72);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

