.title {
  font-weight: 900;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-content {
  background: rgba(215, 224, 255, 1);
}

.task-card {
  background: paleturquoise;
}

.today-task {
  font-size: 1.5em;
  font-weight: 900;
}

.remaining-content {
  display: grid;
  align-items: center;
}

.wrapped-card-3 {
  background: snow;
  justify-self: flex-end;
  width: 30%;
  box-shadow: 3px -3px darkkhaki, 8px -8px grey;
}

.wrapped-card-2 {
  background: snow;
  justify-self: flex-end;
  width: 30%;
  box-shadow: 3px -3px grey;
}

.wrapped-card-1 {
  background: snow;
  justify-self: flex-end;
  width: 30%;
}

.wrapped-card-content {
  display: flex;
  justify-content: center;
}
