/* Background color for the info page */
.info-content {
  background: white;
}

/* Overall Container for the info page */
.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
