/* Styling for the text: "Retriving Cards" */
.retrieving-text {
  text-align: center;
  font-weight: 900;
}

/* Styling for the Progress Bar */
.bar {
  position: relative;
  height: 4%;
  border-radius: 3em;
  margin-left: 10%;
  margin-right: 10%;

  --progress-background: mediumseagreen;
  --buffer-background: snow;
}

/* Background Color */
.loading-content {
  background: rgba(215, 224, 255, 1);
}

/* Wrapper for the text and bar */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.segment-container {
  position: relative;
  width: 90%;
  height: 15%;
  display: flex;
  left: 5%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  animation-name: showSegment;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.server-container {
  animation-delay: 1.2s;
}

.cards-container {
  animation-delay: 2.2s;
}

.deck-container {
  animation-delay: 3.2s;
}

.check {
  color: rgba(79, 216, 6, 0.924);
  position: absolute;
  left: -1em;
  opacity: 0;
  animation-name: showCheck;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.user-check {
  animation-delay: 1.2s;
}

.server-check {
  animation-delay: 2s;
}

.cards-check {
  animation-delay: 3s;
}

@keyframes showCheck {
  to {
    opacity: 1;
  }
}

@keyframes showSegment {
  to {
    opacity: 1;
  }
}

.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
  color: grey;
  animation-name: dot-bricks;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  opacity: 1;
}

.server-bricks {
  animation-delay: 1s;
}

.cards-bricks {
  animation-delay: 2s;
}

.deck-bricks {
  animation-iteration-count: infinite;
}

@keyframes dot-bricks {
  0% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 grey, 9991px -16px 0 0 grey,
      10007px 0 0 0 grey;
  }
  25% {
    box-shadow: 10007px -16px 0 0 grey, 9991px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 grey, 9991px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 grey, 10007px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  50% {
    box-shadow: 10007px 0 0 0 grey, 10007px -16px 0 0 grey,
      9991px -16px 0 0 grey;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 grey, 10007px -16px 0 0 grey, 9991px -16px 0 0 grey;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 grey, 10007px 0 0 0 grey, 9991px -16px 0 0 grey;
  }
  75% {
    box-shadow: 9991px 0 0 0 grey, 10007px 0 0 0 grey, 10007px -16px 0 0 grey;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 grey, 10007px 0 0 0 grey,
      10007px -16px 0 0 grey;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px -16px 0 0 grey;
  }
  100% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
    opacity: 0;
  }
}

.segment-icon {
  position: absolute;
  left: 11%;
}

.segment-text {
  position: absolute;
  left: 29%;
  font-size: 1.3em;
  font-weight: 900;
}


.walking {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.head {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  left: 0.3em;
  top: 0.15em;
  animation: headChange 1s infinite 1.6s ease-in;
}

.body{
  width: 20px;
  height: 50px;
  background-color: white;
  border-radius: 60px 10px 0 0;
  animation: bodyChange 1s infinite 1.6s ease-in
}

.firstLeg, .secondLeg{
  width: 17.5px;
  height: 5px;
  background-color: white;
  border-radius: 20px 50px 50px 20px;
  position: relative;
  top: 30px;
  left: 10px;
  animation: walk 2s infinite linear;
}

.secondLeg{
  top: 12.5px;
  animation-delay: 1s;
}

.shadow {
  width: 50px;
  height: 10px;
  background-color: rgba(192, 82, 82, 0.2);
  border-radius: 50%;
  animation:  shadowChange 1s infinite 1.6s linear;
}

@keyframes headChange {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY((0px));
  }
}

@keyframes bodyChange {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(3px);
  }
  100%{
    transform: translateY((0px));
  }
}

@keyframes walk {
  0%{
    transform: translateX(0px) rotate(0deg);
  }
  20%{
    transform: translateX(-10px) rotate(0deg);
  }
  40%{
    transform: translate(-20px, 0px) rotate(0deg);
  }
  60%{
    transform: translate(-15px, -5px) rotate(17.5deg);
  }
  90%{
    transform: translate(5px, -3.5px) rotate(-17.5deg);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes shadowChange {
  0%{
    width: 50px;
  }
  50%{
    width: 70px;
  }
  100%{
    width: 50px;
  }
}
