/* Background Color */
.loading-content {
  background: #f1f2eb;
}

.logo-pic{
  height: 25%;
}

/* Wrapper for the text and bar */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Container for each indication segment */
.segment-container {
  position: relative;
  width: 90%;
  height: 15%;
  display: flex;
  left: 5%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  animation-name: showPiece;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

/* Add animation delay to sever container */
.server-container {
  animation-delay: 1.2s;
}

/* Add animation delay to the cards container */
.cards-container {
  animation-delay: 2.2s;
}

/* Add animation delay to the deck container */
.deck-container {
  animation-delay: 3.2s;
}

/* Green Check that shows after dots */
.check {
  color: rgba(79, 216, 6, 0.924);
  position: absolute;
  left: -1em;
  opacity: 0;
  animation-name: showPiece;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Add animation delay to the check for user segment */
.user-check {
  animation-delay: 1.2s;
}

/* Add animation delay to the check for server segment */
.server-check {
  animation-delay: 2s;
}

/* Add animation delay to the check for cards segment */
.cards-check {
  animation-delay: 3s;
}

/* Animation for the container and the checkmark to appear with changing opacity */
@keyframes showPiece {
  to {
    opacity: 1;
  }
}

/* The three dots */
.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
  color: grey;
  animation-name: dot-bricks;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  opacity: 1;
}

/* Add animation delay to the three dots of server segment */
.server-bricks {
  animation-delay: 1s;
}

/* Add animation delay to the three dots of cards segment */
.cards-bricks {
  animation-delay: 2s;
}

/* Add animation delay to the three dots of deck segment */
.deck-bricks {
  animation-iteration-count: infinite;
}

/* Animation for the three dots to move around */
@keyframes dot-bricks {
  0% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 grey, 9991px -16px 0 0 grey,
      10007px 0 0 0 grey;
  }
  25% {
    box-shadow: 10007px -16px 0 0 grey, 9991px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 grey, 9991px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 grey, 10007px -16px 0 0 grey, 9991px 0 0 0 grey;
  }
  50% {
    box-shadow: 10007px 0 0 0 grey, 10007px -16px 0 0 grey,
      9991px -16px 0 0 grey;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 grey, 10007px -16px 0 0 grey, 9991px -16px 0 0 grey;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 grey, 10007px 0 0 0 grey, 9991px -16px 0 0 grey;
  }
  75% {
    box-shadow: 9991px 0 0 0 grey, 10007px 0 0 0 grey, 10007px -16px 0 0 grey;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 grey, 10007px 0 0 0 grey,
      10007px -16px 0 0 grey;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px -16px 0 0 grey;
  }
  100% {
    box-shadow: 9991px -16px 0 0 grey, 9991px 0 0 0 grey, 10007px 0 0 0 grey;
    opacity: 0;
  }
}

/* Each Segment's icon */
.segment-icon {
  position: absolute;
  left: 11%;
}

/* Each segment's text */
.segment-text {
  position: absolute;
  left: 29%;
  font-size: 1.3em;
  font-weight: 900;
}
