/* Background color for the login page */
.login-content {
  background: linear-gradient(#2980b9, #6dd5fa);
}

/* Overall Container for the login page */
.login-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for the spacecraft image */
.space-craft {
  width: 60%;
  height: 20%;
  margin-bottom: 10%;
  animation: flyUp 1500ms forwards;
  animation-delay: 1000ms;
}

/* Animation for the Space Craft to move up */
@keyframes flyUp {
  to {
    transform: translateY(-70px);
  }
}

/* Container for the welcome text and rectangular span */
.welcome-container {
  margin-bottom: 1em;
  display: grid;
  place-items: center;
}

/* Styling for the welcome text */
.welcome-text {
  color: snow;
  font-weight: 900;
  font-size: 3.2em;
  font-family: "Montserra", sans-serif;
  position: relative;
  color: transparent;
  animation: showWelcome forwards;
  animation-delay: 1100ms;
}

/* Styling for the rectangular covering of welcome text */
.welcome-covering {
  position: absolute;
  left: 0;
  background: mediumslateblue;
  height: 100%;
  width: 0%;
  animation: reveal-welcome 1500ms ease-out;
}

/* Animation for 'Hi Welcome' to show up */
@keyframes reveal-welcome {
  70% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

@keyframes showWelcome {
  to {
    color: snow;
  }
}

/* Styling for the description text */
.description-text {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: azure;
  opacity: 0;
  animation: showDescription 1100ms forwards;
  animation-delay: 1350ms;
  margin-bottom: 0.5em;
}

/* Animation for the description text to show */
@keyframes showDescription {
  10% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
