/* Background color for the login page */
.login-content {
  /* background: linear-gradient(#2980b9, #6dd5fa);*/
  background: #f1f2eb;
}

/* Overall Container for the login page */
.login-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.login-logo {
  margin-top: 4rem;
}

.version {
  font-size: 1rem;
  position: absolute;
  bottom: 2.5rem;

}
