.front {
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(0deg);
}

.back {
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg) translateZ(3px);
}

.negative {
  top: 1.2em;
  width: 50%;
}

.front-negative {
  right: 1em;
  rotate: 350deg;
}

.back-negative {
  left: 1em;
  rotate: 10deg;
}
.action-container {
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.negative-container {
  border-color: #d63230;
}

.action-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
}

.negative-text {
  color: #d63230;
}

.positive {
  top: 1.2em;
  width: 50%;
  rotate: 10deg;
}

.front-positive {
  left: 1em;
  rotate: 10deg;
}

.back-positive {
  right: 1em;
  rotate: 350deg;
}

.positive-container {
  border-color: #256d1b;
}

.positive-text {
  color: #256d1b;
}

.onemore {
  bottom: 40%;
  width: 50%;
}

.onemore-container {
  border-color: #7bb2d9;
}

.onemore-text {
  color: #7bb2d9;
}

.nomore {
  top: 2.5em;
  width: 50%;
}

.nomore-container {
  border-color: #e8871e;
}
.nomore-text {
  color: #e8871e;
}
