.message {
  height: 13%;
  width: 60%;
  color: white;
  padding: 0.02rem;
  position: absolute;
  border: 0.1rem solid aliceblue;
  box-shadow: 0rem 2px 4px gainsboro;
  border-radius: 0.4rem;
  background-color: #f0ad4e;
  top: 43%;
  left: 20%;
  display: block;
  transition: transform 2s ease-in-out;
  animation: message-in-center 2.2s;
}

.message-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.message-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.1rem;
  margin-bottom: 0.05rem;
}

@keyframes message-in-center {
  0% {
    opacity: 0;
  }
  25%,
  85% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
  }
}
