/* entire container, keeps perspective */
.card-container {
  perspective: 1000px;
  display: flex;
  position: relative;
  -webkit-perspective: 1000px;
}

/* flip speed goes here */
.card-content {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  -webkit-transition: 0.7s;
  -webkit-transform-style: preserve-3d;
}

/* hide back of pane during swap */
.question-text,
.answer-text {
  backface-visibility: hidden;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  text-align: center;

  -webkit-backface-visibility: hidden;
}

/* front pane, placed above back */
.question-text {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.answer-text {
  transform: rotateY(180deg) translateZ(3px);
  -webkit-transform: rotateY(180deg) translateZ(3px);
}
.card-wrapper {
  position: absolute;
  height: 60%;
  width: 100%;
}
