/* entire container, keeps perspective */
.card-container {
  perspective: 1000px;
  display: flex;
  position: relative;
}

/* flip speed goes here */
.card-content {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* hide back of pane during swap */
.question-text,
.answer-text {
  backface-visibility: hidden;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  text-align: center;
}

/* front pane, placed above back */
.question-text {
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.answer-text {
  transform: rotateY(180deg);
}
.card-wrapper {
  position: absolute;
  height: 60%;
  width: 100%;
}

.front{
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(0deg);
}

.back{
  backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
}

.negative{
  top: 45px;
  width: 50%;
}


.front-negative{
  right: 3px;
}

.back-negative{
  left: 3px;
}
.action-container{
  --border-radius:5px;
  --border-width: 3px;
}
.negative-container{
  --border-color: #D63230;
}

.action-text{
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.negative-text{
  color:#D63230;
  padding: 3px;
}

.positive{
  top: 45px;
  width: 50%;
}

.front-positive{
  left: 3px;
}

.back-positive{
  right: 3px;
}

.positive-container{
  --border-color: #256D1B;
}

.positive-text{
  color: #256D1B;
  padding: 8px;
}

.onemore{
  top: 55px;
  width: 50%;
}

.onemore-container{
  --border-color: #7BB2D9;
}

.onemore-text{
  color: #7BB2D9;
  padding: 1px;
}

.nomore{
  bottom: 45px;
  width: 50%;
  
}

.nomore-container{
  --border-color: #E8871E;

}
.nomore-text{
  color: #E8871E;
  padding: 3px;
}
