/* The Top Component of Cards left */
.task-card {
  width: 85%;
  background-color: #f2f1f1;
}

/* Styling for the text 'Today's task' */
.today-task {
  color: #5a5555;
  font-size: 1.5em;
  font-weight: 900;
}

.finish-task {
  color: black;
  font-weight: 900;
}

.remaining-content {
  display: grid;
  align-items: center;
}

.wrapped-card {
  background: white;
  justify-self: flex-end;
  width: 30%;
  height: 85%;
}

/* Determining How Many Box-Shadows */
.left-3 {
  box-shadow: 2px -2px gray, 3px -3px darkgrey;
}

.left-2 {
  box-shadow: 3px -3px darkgray;
}

.wrapped-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cards-remaining {
  position: absolute;
  color: gray;
  font-size: 1.2rem;
  font-weight: 600;
  left: 6%;
}
