.logout-button {
  position: absolute;
  left: 15%;
  --border-radius: 3px;
  bottom: 10%;
  width: 70%;
  height: 5%;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
  --background: ivory;
  --background-activated: aquamarine;
  --background-focused: aqua;
  --background-hover: aliceblue;
}
