/* Styling for the container of icon and tutorial portal */
.top-container {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Styling for the portal, which is IonCard */
.tutorial-card {
  position: absolute;
  top: -1%;
  right: -1.8vw;
}
/* Styling for the portal card content */
.tutorial-card-content {
  padding: 5px;
}

.logo-img{
  height: 150%;
}
