/* Background color for the tab bar */
.tab-bar {
  /* --background: #0056d2; */
  --background: #f4f4f4;
}

/* Colors for the icons on the bar */
.icons {
  --color: darkgray;
  --color-selected: gray;
}
