.statistics-content {
  background: #f1f2eb;
}

.statistics-title {
  text-align: center;
  font-weight: 800;
  color: green;
  margin-top: 3.2rem;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.statistics-card {
  height: 130%;
  left: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  animation-name: showCard;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes showCard {
  to {
    left: 0;
  }
}

.session-delay {
  animation-delay: 0.1s;
}

.correct-delay {
  animation-delay: 0.2s;
}

.incorrect-delay {
  animation-delay: 0.3s;
}

.skip-delay {
  animation-delay: 0.4s;
}

.know-delay {
  animation-delay: 0.5s;
}

.dontKnow-delay {
  animation-delay: 0.6s;
}

.oneMore-delay {
  animation-delay: 0.7s;
}

.poorCard-delay {
  animation-delay: 0.8s;
}

.card-title {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.blank-space {
  width: 1rem;
}

.card-icon {
  position: absolute;
  left: 50%;
}

.card-values {
  position: absolute;
  right: 5%;
}
